

body {
    font-family: Roboto, 'Times New Roman', Times, serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    justify-content: space-between;
    background-color: #9abd97;
}

.header {
    display: flex;
    flex-direction: column;
    
}

#title {
    font-family: Roboto, sans-serif;
    font-size: 78px;
    font-weight: bold;
    padding: 24px;
    color: #483d03;
    display: flex;
    justify-content: center;
}

.counters {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #483d03;
    display: flex;
    justify-content: space-evenly;
}

.counter {
    display: flex;
    gap: 6px;
}

#moves {
    display: flex;
    justify-content: center;
    gap: 128px;
    font-weight: bold;
}

#game-outcome {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
}

.game-board {
    display: flex;
    font-family: inherit;
    font-size: 24px;
    color: #483d03;
    flex-direction: column;
    gap: 24px;
}

.icons {
    display: flex;
    flex: 1;
    gap: 150px;
    background-color: #9abd97;
    align-items: center;
}

.icons-body {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #483d03;
    background-color: #9abd97;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.icons-title {
    color: #483d03;
    font-weight: 400;
    font-size: 64px;
    padding: 24px;
}

footer {
    display: flex;
    justify-content: space-around;
    color: #483d03;
    background-color: #9abd97;
    padding: 16px;
    font-weight: bold;
}

.icon {
    width: 200px;
    height: auto;
    outline: #483d03;
    border:1px solid #483d03;
    border-radius: 8px;
    padding: 50px;
    flex-shrink: 1;
}

.icon:hover {
    margin: -2px;
    border-width: 3px;
}

.icon:active {
    background-color: #b6d7b9;
}

#button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: inherit;
    color: #483d03;
    font-family: inherit;
    font-size: 48px;
    border:1px solid #483d03;
    border-radius: 8px;
    padding: 24px 48px;
}

button:hover {
    background-color: #483d03;
    color: #9abd97;
}




a {
    color: inherit;
    text-decoration: none;
}
